### [Sources:]

https://medium.com/towards-artificial-intelligence/50-python-3-tips-tricks-e5dbe05212d7

https://www.tutorialspoint.com/10-interesting-python-cool-tricks

#### 1. Creating a sequence of numbers (using range)

In [9]:
for i in range(0,10,2):
    print(i, end= " ")

0 2 4 6 8

#### 2. Summing a sequence of numbers (using range)

In [11]:
l = range(0,10,2)
sum(l)

20

#### 3. Checking whether any element in the sequence is even (using any)

In [12]:
any(a%2 == 0 for a in range(0,10,2))

True

#### 4. Checking whether all elements in the sequence are even (using all)

In [13]:
all(a%2 == 0 for a in range (0,10,2))

True

#### 5. Cumulative summing a sequence of numbers (using cumsum)

In [14]:
import numpy as np
res = list(np.cumsum(range(0,10,2)))
res

[0, 2, 6, 12, 20]

#### 7. Given each iterable we construct a tuple by adding an index (using enumerate)

In [15]:
a = ['Hello', 'world', '!']
list(enumerate(a))

[(0, 'Hello'), (1, 'world'), (2, '!')]

#### 8. Concatenating iterable to a single string (uisng join)

In [16]:
a = ['python','really','rocks']
" ".join(a)

'python really rocks'

#### 9. Combining two iterable of tuples or pivot nested iterables (using zip)

In [27]:
#Combining two iterables
a = [1,2,3]
b = ['a','b','c']
z = zip(a,b)
z

#Pivoting list of tuples
zip(*z)

#### 10. Getting min/max from iterable (using min max)

In [35]:
a = [1, 2, -3]
print(max(a))
print(min(a))

2
-3

#### 11. Getting sorted iterable (using sorted)

In [39]:
a = [1,2,-3]
sorted(a)

[-3, 1, 2]

#### 12. Splitting a single string to list (using split)

In [44]:
s = "a,b,c"
s = s.split(",")
s

['a', 'b', 'c']

#### 13. Initializing a list filled with some repetitive number

In [45]:
[1]*10

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

#### 14. Merging/Upserting two dictionaries (using update)

In [47]:
a = {"a":1, "b":1}
b = {"b":2, "c":1}

a.update(b)
a

{'a': 1, 'b': 2, 'c': 1}

#### 15. Naming and  saving slices of iterables (using slice)

In [49]:
a = [0, 1, 2, 3, 4, 5]
LastThree = slice(-3,None)
a[LastThree]

[3, 4, 5]

#### 16. Finding the index of an item in a list (using index)

In [50]:
a = ["foo", "bar", "baz"]
a.index("bar")

1

#### 17. Finding the index of the min/max item in an iterable (using enumerate)

In [55]:
a = [2,3,1]
min(enumerate(a), key=lambda x: x[1])[0]

2

#### 18. Rotating iterable by k elements (using :)

In [56]:
a = [1,2,3,4]
k = 2
a[-2:] + a[:-2]

[3, 4, 1, 2]

#### 19. Removing useless characters on the end/start/both of your string (using strip)

In [57]:
name = "//George//"
name.strip("/")

'George'

In [58]:
name = "//George//"
name.rstrip("/")

'//George'

In [59]:
name = "//George//"
name.lstrip("/")

'George//'

#### 20. Reversing an iterable with order (using ::)

In [60]:
s = "abc"
s[::-1]

'cba'

In [61]:
l = ["a", "b", "c"]
l[::-1]

['c', 'b', 'a']

#### 21. Multiple predicates short-cut

In [63]:
n = 10
1 < n < 20

True

#### 22. Ternary operator

In [65]:
"Python!" if True else "I am Grumpy"

'Python!'

#### 23. Try-Catch-Else construct

In [66]:
try:
    foo()
except Exception:
    print("Exception occured")
else:
    print("Exception did not occur")
finally:
    print("Always gets here")

Exception occured
Always gets here

#### 24. While-else construct

In [67]:
i = 5

while i > 1:
    print("while-ing away!")
    i = -1
    if i == 3:
        break
else:
    print("Finished up!")

while-ing away!
Finished up!

#### 25. List comprehension

In [68]:
m = [x ** 2 for x in range(5)]
m

[0, 1, 4, 9, 16]

#### 26. Set comprehension

In [70]:
m = {x ** 2 for x in range(5)}
m

{0, 1, 4, 9, 16}

#### 27. Dictionary comprehension

In [71]:
m = {x:x ** 2 for x in range (5)}
m

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

#### 28. Generator comprehension

In [81]:
m = (x ** 2 for x in range(5))
m
list(m)
m = (x ** 2 for x in range(5))
next(m)
list(m)

[1, 4, 9, 16]

#### 29. List comprehension with current and previous value

In [82]:
a = [1,2,4,2]
[y-x for x,y in zip(a,a[1:])]

[1, 2, -2]

#### 30. Unpack variables from iterable

In [86]:
a, b, c = 1, 2, 3
a, b, c

(1, 2, 3)

In [94]:
a, b, c = [1, 2, 3]
print(a)
print(a,b,c)

1
1 2 3

#### 31. Swap variables

In [97]:
a,b = 1,2
a,b = b,a
b,a

(1, 2)

#### 32. Unpack variables from iterable without indicating all elements

In [98]:
a, *b, c = [1,2,3,4,5]
a

1

In [99]:
b

[2, 3, 4]

In [100]:
c

5

#### 33. unpack variables using the splat operator

In [103]:
def test(x, y, z):
    print(x, y, z)
res = test(*[10,20,30])

10 20 30

In [104]:
res = test(**{'x':1, 'y':2, 'z':3})

1 2 3

#### 34. Flatten iterables

In [106]:
import itertools
a = [[1,2], [3,4], [5,6]]
list(itertools.chain.from_iterable(a))

[1, 2, 3, 4, 5, 6]

#### 35. Creating cartesian products from iterables

In [108]:
for p in itertools.product([1, 2, 3], [4,5]):
    print(" ".join(str(x) for x in p))

1 4
1 5
2 4
2 5
3 4
3 5

#### 36. Creating permutation from iterable

In [111]:
for p in itertools.permutations([1, 2, 3]):
    print(''.join(str(x) for x in p))

123
132
213
231
312
321

#### 37. Creating ngram from iterable

In [112]:
from itertools import islice
def n_grams(a,n):
    z = (islice(a, i, None) for i in range(n))
    return zip(*z)

In [115]:
a = [1,2,3,4,5,6]
n_grams(a,3)

#### 38. Combining two iterables of tuples with padding or pivot nested iterable with padding

In [116]:
import itertools as it
x = [1,2,3,4,5]
y = ['a', 'b', 'c']
list(zip(x,y))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [117]:
list(it.zip_longest(x,y))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, None), (5, None)]

#### 39. Creating a combination of k things from an iterable of n

In [121]:
import itertools
bills = [20,20,20,10,10,10,10,10,5,5,1,1,1,1,1]
list(itertools.combinations(bills, 3))

[(20, 20, 20),
 (20, 20, 10),
 (20, 20, 10),
 (20, 20, 10),
 (20, 20, 10),
 (20, 20, 10),
 (20, 20, 5),
 (20, 20, 5),
 (20, 20, 1),
 (20, 20, 1),
 (20, 20, 1),
 (20, 20, 1),
 (20, 20, 1),
 (20, 20, 10),
 (20, 20, 10),
 (20, 20, 10),
 (20, 20, 10),
 (20, 20, 10),
 (20, 20, 5),
 (20, 20, 5),
 (20, 20, 1),
 (20, 20, 1),
 (20, 20, 1),
 (20, 20, 1),
 (20, 20, 1),
 (20, 10, 10),
 (20, 10, 10),
 (20, 10, 10),
 (20, 10, 10),
 (20, 10, 5),
 (20, 10, 5),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 10),
 (20, 10, 10),
 (20, 10, 10),
 (20, 10, 5),
 (20, 10, 5),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 10),
 (20, 10, 10),
 (20, 10, 5),
 (20, 10, 5),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 10),
 (20, 10, 5),
 (20, 10, 5),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 5),
 (20, 10, 5),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 5, 5),
 (20, 5, 1),
 (20, 5, 1),
 (20, 5, 1),
 (20, 5, 1),
 (20, 5, 1),
 (20, 5, 1),
 (20, 5, 1),
 (20, 5, 1),
 (20, 5, 1),
 (20, 5, 1),
 (20, 1, 1),
 (20, 1, 1),
 (20, 1, 1),
 (20, 1, 1),
 (20, 1, 1),
 (20, 1, 1),
 (20, 1, 1),
 (20, 1, 1),
 (20, 1, 1),
 (20, 1, 1),
 (20, 20, 10),
 (20, 20, 10),
 (20, 20, 10),
 (20, 20, 10),
 (20, 20, 10),
 (20, 20, 5),
 (20, 20, 5),
 (20, 20, 1),
 (20, 20, 1),
 (20, 20, 1),
 (20, 20, 1),
 (20, 20, 1),
 (20, 10, 10),
 (20, 10, 10),
 (20, 10, 10),
 (20, 10, 10),
 (20, 10, 5),
 (20, 10, 5),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 10),
 (20, 10, 10),
 (20, 10, 10),
 (20, 10, 5),
 (20, 10, 5),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 10),
 (20, 10, 10),
 (20, 10, 5),
 (20, 10, 5),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 10),
 (20, 10, 5),
 (20, 10, 5),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 5),
 (20, 10, 5),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 5, 5),
 (20, 5, 1),
 (20, 5, 1),
 (20, 5, 1),
 (20, 5, 1),
 (20, 5, 1),
 (20, 5, 1),
 (20, 5, 1),
 (20, 5, 1),
 (20, 5, 1),
 (20, 5, 1),
 (20, 1, 1),
 (20, 1, 1),
 (20, 1, 1),
 (20, 1, 1),
 (20, 1, 1),
 (20, 1, 1),
 (20, 1, 1),
 (20, 1, 1),
 (20, 1, 1),
 (20, 1, 1),
 (20, 10, 10),
 (20, 10, 10),
 (20, 10, 10),
 (20, 10, 10),
 (20, 10, 5),
 (20, 10, 5),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 10),
 (20, 10, 10),
 (20, 10, 10),
 (20, 10, 5),
 (20, 10, 5),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 10),
 (20, 10, 10),
 (20, 10, 5),
 (20, 10, 5),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 10),
 (20, 10, 5),
 (20, 10, 5),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 5),
 (20, 10, 5),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 10, 1),
 (20, 5, 5),
 (20, 5, 1),
 (20, 5, 1),
 (20, 5, 1),
 (20, 5, 1),
 (20, 5, 1),
 (20, 5, 1),
 (20, 5, 1),
 (20, 5, 1),
 (20, 5, 1),
 (20, 5, 1),
 (20, 1, 1),
 (20, 1, 1),
 (20, 1, 1),
 (20, 1, 1),
 (20, 1, 1),
 (20, 1, 1),
 (20, 1, 1),
 (20, 1, 1),
 (20, 1, 1),
 (20, 1, 1),
 (10, 10, 10),
 (10, 10, 10),
 (10, 10, 10),
 (10, 10, 5),
 (10, 10, 5),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 10),
 (10, 10, 10),
 (10, 10, 5),
 (10, 10, 5),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 10),
 (10, 10, 5),
 (10, 10, 5),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 5),
 (10, 10, 5),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 1),
 (10, 5, 5),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 10, 10),
 (10, 10, 10),
 (10, 10, 5),
 (10, 10, 5),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 10),
 (10, 10, 5),
 (10, 10, 5),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 5),
 (10, 10, 5),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 1),
 (10, 5, 5),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 10, 10),
 (10, 10, 5),
 (10, 10, 5),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 5),
 (10, 10, 5),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 1),
 (10, 5, 5),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 10, 5),
 (10, 10, 5),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 1),
 (10, 10, 1),
 (10, 5, 5),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 5, 5),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 5, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (5, 5, 1),
 (5, 5, 1),
 (5, 5, 1),
 (5, 5, 1),
 (5, 5, 1),
 (5, 1, 1),
 (5, 1, 1),
 (5, 1, 1),
 (5, 1, 1),
 (5, 1, 1),
 (5, 1, 1),
 (5, 1, 1),
 (5, 1, 1),
 (5, 1, 1),
 (5, 1, 1),
 (5, 1, 1),
 (5, 1, 1),
 (5, 1, 1),
 (5, 1, 1),
 (5, 1, 1),
 (5, 1, 1),
 (5, 1, 1),
 (5, 1, 1),
 (5, 1, 1),
 (5, 1, 1),
 (1, 1, 1),
 (1, 1, 1),
 (1, 1, 1),
 (1, 1, 1),
 (1, 1, 1),
 (1, 1, 1),
 (1, 1, 1),
 (1, 1, 1),
 (1, 1, 1),
 (1, 1, 1)]

#### 40. Creating accumulated results of iterable given a function

In [122]:
import itertools
list(itertools.accumulate([9,21,17,5,11,12,2,6], min))

[9, 9, 9, 5, 5, 5, 2, 2]

#### 41. Creating an iterator that returns elements from the iterable as long as the predicate is true

In [125]:
import itertools
itertools.takewhile(lambda x: x<3, [0,1,2,3,4])

In [124]:
itertools.dropwhile(lambda x: x<3, [0,1,2,3,4])

#### 42. Creating an iterator that filters elements from iterable returning only those for which the predicate is False

In [127]:
import itertools
list(itertools.filterfalse(bool, [None, False, 1, 0, 10]))

[None, False, 0]

#### 43. Creating an iterator that computes the function using arguments obtained from the iterable of iterables

In [128]:
import itertools
import operator
a = [(2,6), (8,4), (7,3)]
list(itertools.starmap(operator.mul, a))

[12, 32, 21]

#### 44. Counter data structure

In [129]:
import collections
A = collections.Counter([1,1,2,2,3,3,3,3,4,5,6,7])
A

Counter({1: 2, 2: 2, 3: 4, 4: 1, 5: 1, 6: 1, 7: 1})

In [131]:
A.most_common(3)

[(3, 4), (1, 2), (2, 2)]

#### 45. Default dictionary structure

In [132]:
import collections
m = collections.defaultdict(int)
m['a']

0

In [133]:
m = collections.defaultdict(str)
m['a']

''

In [135]:
m['b'] += 'a'
m['b']

'aa'

In [136]:
m = collections.defaultdict(lambda: '[default value]')
m['a']

'[default value]'

In [137]:
m = collections.defaultdict(list)
m['a']

[]

#### 46. Ordered dict structure

from collections import OrderedDict
d = OrderedDict.fromkeys('abcde')
d.move_to_end('b')
''.join(d.keys())

In [139]:
d.move_to_end('b', last=False)
''.join(d.keys())

'bacde'

#### 47. Deques structure

In [141]:
import collections
Q = collections.deque()
Q.append(1)
Q.appendleft(2)
Q.extend([3,4])
Q.extendleft([5,6])
Q

deque([6, 5, 2, 1, 3, 4])

In [142]:
Q.pop()

4

In [143]:
Q.popleft()

6

In [144]:
Q

deque([5, 2, 1, 3])

In [148]:
Q.rotate(3)
Q

deque([1, 3, 5, 2])

In [151]:
Q.rotate(-3)
Q

deque([5, 2, 1, 3])

In [152]:
last_three = collections.deque(maxlen=3)
for i in range(4):
    last_three.append(i)
    print(','.join(str(x) for x in last_three))

0
0,1
0,1,2
1,2,3

#### 48. Named tuples structure

In [153]:
import collections
Point = collections.namedtuple('Point', ['x','y'])
p = Point(x=1.0, y=2.0)
p

Point(x=1.0, y=2.0)

In [154]:
p.x

1.0

In [155]:
p.y

2.0

#### 49. Use a Dictionary To Store A Switch

In [156]:
func_dict = {'sum': lambda x, y:x+y, 'subtract': lambda x,y: x-y}
func_dict['sum'](9,3)

12

In [157]:
func_dict['subtract'](9,3)

6

#### 50. Data classes structure

In [161]:
from dataclasses import dataclass

@dataclass
class DataClassCard:
    rank: str
    suit: str

queen_of_hearts = DataClassCard("Q", "Hearts")
queen_of_hearts.rank

queen_of_hearts

queen_of_hearts == DataClassCard('Q', 'Hearts')

True

#### 51. Creating uuid

In [162]:
import uuid
user_id = uuid.uuid4()
user_id

UUID('1fe3ed93-b687-493f-8f9e-6b4b4497ef3b')

#### 52. Elegant way to deal with file path

In [163]:
from pathlib import Path
data_folder = Path("source_data/text_files/")

file_to_open = data_folder / "raw_data.txt"
file_to_open.name

'raw_data.txt'

In [165]:
file_to_open.suffix

'.txt'

In [166]:
file_to_open.stem

'raw_data'

#### 53. Using yield to create a simple iterator

In [173]:
def foo(lst):
    for x in lst:
        yield x
        yield x*2
a = [1,3]
list(foo(a))

[1, 2, 3, 6]

#### 54. Shortcut for declaring small and anonymous functions

In [180]:
add = lambda x,y: x+y
add(9,7)

16

#### 55. Printing something N times

In [179]:
str = "Hello"
print(str *7)

HelloHelloHelloHelloHelloHelloHello